/* Default styles for all devices */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#header h1 {
    margin: 0;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

#sidebar {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu li a {
    display: block;
    padding: 10px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #333;
    color: #fff;
}

#main {
    flex: 3;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-name {
    font-weight: bold;
    margin-right: 10px;
}

.post-time {
    color: #999;
}

.post-content {
    margin-bottom: 10px;
}

.post-content p {
    margin: 0;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-like,
.post-comment,
.post-share {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.post-like:hover,
.post-comment:hover,
.post-share:hover {
    background-color: #000000;
}

/* Styles for devices with a maximum width of 768px (phones) */
@media only screen and (max-width: 768px) {
    #sidebar {
        flex: none;
        width: 100%;
    }

    #main {
        flex: none;
        width: 100%;
    }

    .post {
        padding: 10px;
    }

    .post-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-avatar {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .post-name {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .post-time {
        margin-bottom: 10px;
    }

    .post-content iframe {
        max-width: 100%;
    }
}
#post-text {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px;
    width: 100%;
    resize: none;
    outline: none;
  }
  #post-button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  #post-button:hover {
    background-color: #000000;
  }